*.pyc
*.pyo
*.pem
*.jpeg
*.jpg
*.png
**/__pycache__/
*.py[cod]
.env

.idea/
.vscode/
*.log
/venv/
*.sqlite3
*local.py
files/
static/

local.requirements.txt
*.txt
*git_key*
dev.ini
celerybeat-schedule